@{
    ViewData["Title"] = "Sąskaitos pildymas";
}


<div class="form-group text-center">
    <div class="col-md-10">
        <th>Įrašykite sumą</th>
        <br />
        <input type="number" name="balanceInput"  />
    </div>

    <div class="col-md-10">
        <br />

        <form>
            <button formaction="/Home/BalanceReport">Išsaugoti</button>
        </form>

    </div>
</div>
<br />