@{
    ViewData["Title"] = "Skelbimo redagavimas";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<label for="cars">Markė:</label>
<br />

<select name="cars" id="cars">
    <option value="volvo">Volkswagen</option>
    <option value="audi">BMW</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>

<div class="col-md-20">
    <th>Modelis</th>
    <br />
    <input type="text" name="ModelisInput" />
</div>

<div class="col-md-20">
    <th>Pagaminimo data</th>
    <br />
    <input type="date" name="DataInput" />
</div>

<div class="col-md-20">
    <th>Rida</th>
    <br />
    <input type="text" name="RidaInput" />
</div>

<form>
    <div class="col-md-20">
        <br />
        <button formaction="/Home/AdView">Patvirtinti</button>
    </div>
</form>
