@{
    ViewData["Title"] = "BMW 320";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="parameter-row ">
    <div class="parameter-label">
        Pagaminimo data    </div>
    <div class="parameter-value ">
        2012    </div>

    </div>

<div class="parameter-row ">
    <div class="parameter-label">
        Rida    </div>
    <div class="parameter-value ">
        230 000 km    </div>

    </div>

<div class="announcement-media-gallery">
    <div class="thumbnail" data-index="0">
                    <img src="https://img.autogidas.lt/10_1_7352965/bmw-320-2012-2016.jpg"/>
            </div>
</div>

<form>
    <div class="col-md-20">
        <br />
        <button formaction="/Home/AdListView">Atgal į sąrašą</button>
    </div>
    <div class="col-md-20">
        <br />
        <button formaction="/Home/AdEditView">Redaguoti skelbimą</button>
    </div>
</form>