@{
    ViewData["Title"] = "Automobiliu skelbimai";
}

<form>
    <div>
        Įrašykite savo atsakymą:
        <br>
        <input type="text" style="width:400px;height:200px" name="QuestionAnswer" />
    </div>

    <button formaction="/Home/ForumQuestion">Rašyti atsakymą</button>



</form>