@{
    ViewData["Title"] = "Strawpoll";
}
<h2>@ViewData["Title"]</h2>

<p>Atsakyti: XXXXXXXXX@email.com</p>
<div class="col-md-10">
    <th>Užduotas Klausimas:</th>
    <br />
    <input type="text" name="KAIP SITE'A KURT WTF" />
    <form>
        <button formaction="/Home/HelpEmail">Uždaryti klausimą</button>
    </form>
</div>
<div class="col-md-10">
    <th>Užduotas Klausimas:</th>
    <br />
    <input type="text" name="KAIP SITE'A KURT WTF" />
    <form>
        <button formaction="/Home/HelpEmail">Uždaryti klausimą</button>
    </form>
</div>
<div class="col-md-10">
    <th>Užduotas Klausimas:</th>
    <br />
    <input type="text" name="KAIP SITE'A KURT WTF" />
    <form>
        <button formaction="/Home/HelpEmail">Uždaryti klausimą</button>
    </form>
</div>
<div class="col-md-10">
    <th>Užduotas Klausimas:</th>
    <br />
    <input type="text" name="KAIP SITE'A KURT WTF" />
    <form>
        <button formaction="/Home/HelpEmail">Uždaryti klausimą</button>
    </form>
</div>


