@{
    ViewData["Title"] = "Pagalba gyvai";
}
<h2>@ViewData["Title"]</h2>

<th>Užduotas Klausimas:</th>
<br />
<input type="text" name="KAIP SITE'A KURT WTF" />
<form>
    <button formaction="/Home/HelpEmail">Atgal į sąrašą</button>
    <button formaction="/Home/HelpReview">Atsakyti į klausimą</button>
</form>
