@{
    ViewData["Title"] = "Pagalba";
}


<div class="form-group text-center">
    <div class="col-md-10">
        <th>Jūsų klausimas</th>
        <br />
        <input type="text" style="height:300px;width:300px" name="Question"/>
    </div>

    <div class="col-md-10">
        E-paštas
        <br />
        <input type="text" name="emailInputForHelp" />
    </div>


    <div class="col-md-10">
        <form>
            <button formaction="/Home/HelpReview">Pateikti</button>
        </form>
    </div>
 </div>
</div>
<br />