@{
    ViewData["Title"] = "Prisijungimas";
}


<div class="form-group text-center">
    <div class="col-md-10">
        <th>Jūsų Klausimas:</th>
        <br />
        <input type="text" name="KAIP SITE'A KURT WTF" />
    </div>

    <div class="col-md-10">
        <th>Pokalbis su moderatorium:</th>
        <br />
        <input type="text" style="height:300px;width:300px" name="Question" />
    </div>

    <div class="col-md-10">
        <br />

        <form>
            <button formaction="/Home/index">Uždaryti klausimą</button>
        </form>

    </div>
</div>
<br />