@{
    ViewData["Title"] = "Automobiliu skelbimai";
}

<form>
    <div>
        Įveskite klausimo informaciją:
        <br>
        <input type="text" style="width:500px;height:300px" name="NewForumQuestiontext" />
    </div>

    <button formaction="/Home/ForumQuestion">Patalpinti klausimą</button>



</form>