@{
    ViewData["Title"] = "Vartotojo langas";
}


<div class="form-group text-center">
    <h1>Galimybių apribojimas XXXXXXX vartotojui.</h1>


    <p>Apriboti galimybę rašyti forume:</p>

    <form>
        <button formaction="">Išsaugoti</button>
    </form>
    <form>
        <button formaction="/Home/VartotojuSarasoLangas">Atgal į sąrašą</button>
    </form>

</div>
<br />