@{
    ViewData["Title"] = "Apklausa";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Strawpoll API</p>

<form>
    <button formaction="/Home/Index">Grįžti į pagrindinį</button>
</form>