@{
    ViewData["Title"] = "Vartotojų sąrašas";
}


<h2>@ViewData["Title"]</h2>
<div class="form-group">
    <div class="col-md-10">
        <br />
        <p>ID, Vartotojo vardas, El. paštas.</p>
        <form>
            <button formaction="/Home/PasirinktoVartotojoLangas">Peržiūrėti</button>
            <button formaction="/Home/Salinti">Šalinti</button>
        </form>
        <br />
        <p>ID, Vartotojo vardas, El. paštas.</p>
        <form>
            <button formaction="/Home/PasirinktoVartotojoLangas">Peržiūrėti</button>
            <button formaction="/Home/Salinti">Šalinti</button>
        </form>
        <br />
        <p>ID, Vartotojo vardas, El. paštas.</p>
        <form>
            <button formaction="/Home/PasirinktoVartotojoLangas">Peržiūrėti</button>
            <button formaction="/Home/Salinti">Šalinti</button>
        </form>
        <br />
        <p>ID, Vartotojo vardas, El. paštas.</p>
        <form>
            <button formaction="/Home/PasirinktoVartotojoLangas">Peržiūrėti</button>
            <button formaction="/Home/Salinti">Šalinti</button>
        </form>

    </div>
</div>