@{
    ViewData["Title"] = "Naujas skelbimas";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="form-group text-center">
    <form method="POST" action="AdCreate">
        <div class="col-md-20">
            <th>Marke</th>
            <br />
            <input type="text" name="AdCreateMarkeInput" />
        </div>

        <div class="col-md-20">
            <th>Modelis</th>
            <br />
            <input type="text" name="AdCreateModelisInput" />
        </div>

        <div class="col-md-20">
            <th>Pagaminimo data</th>
            <br />
            <input type="date" name="AdCreateDataInput" />
        </div>

        <div class="col-md-20">
            <th>Kėbulo tipas</th>
            <br />
            <select name="AdCreateKebulasInput" id="AdCreateKebulasInput">
                <option value="coupe">Coupe</option>
                <option value="hecbekas">Hečbekas</option>
                <option value="kabrioletas">Kabrioletas</option>
                <option value="komercinis">Komercinis</option>
                <option value="limuzinas">Limuzinas</option>
                <option value="pikupas">Pikapas</option>
                <option value="sedanas">Sedanas</option>
                <option value="universalas">Universalas</option>
                <option value="vienaturis">Vienatūris</option>
                <option value="visureigis">Visureigis</option>
                <option value="kita">Kita</option>
            </select>
        </div>

        <div class="col-md-20">
            <th>Kuro tipas</th>
            <br />
            <select name="AdCreateKurasInput" id="AdCreateKurasInput">
                <option value="dyzelinas">Dyzelinas</option>
                <option value="dyzelinas/elektra">Dyzelinas / elektra</option>
                <option value="benzinas">Benzinas</option>
                <option value="benzinas/dujos">Benzinas / dujos</option>
                <option value="benzinas/elektra">Benzinas / elektra</option>
                <option value="elektra">Elektra</option>
                <option value="bioetanolis">Bioetanolis</option>
                <option value="kita">Kita</option>
            </select>
        </div>

        <div class="col-md-20">
            <th>Pavarų dėžė</th>
            <br />
            <select name="AdCreateDezeInput" id="AdCreateDezeInput">
                <option value="mechanine">Mechaninė</option>
                <option value="automatine">Automatinė</option>
            </select>
        </div>

        <div class="col-md-20">
            <th>Durų skaičius</th>
            <br />
            <input type="number" name="AdCreateDurysInput" min="0" />
        </div>

        <div class="col-md-20">
            <th>Defektai</th>
            <br />
            <input type="text" name="AdCreateDefektaiInput" />
        </div>

        <div class="col-md-20">
            <th>Vairo padėtis</th>
            <br />
            <select name="AdCreateVairasInput" id="AdCreateVairasInput">
                <option value="kaire">Kairėje</option>
                <option value="desine">Dešinėje</option>
            </select>
        </div>

        <div class="col-md-20">
            <th>Spalva</th>
            <br />
            <input type="text" name="AdCreateSpalvaInput" />
        </div>

        <div class="col-md-20">
            <th>Rida</th>
            <br />
            <input type="number" name="AdCreateRidaInput" min="0" />
        </div>

        <div class="col-md-20">
            <th>Darbinis tūris</th>
            <br />
            <select name="AdCreateTurisInput" id="AdCreateTurisInput">
                <option value="1000">1000</option>
                <option value="1500">1500</option>
                <option value="2000">2000</option>
                <option value="2500">2500</option>
                <option value="3000">3000</option>
                <option value="3500">3500</option>
            </select>
        </div>

        <div class="col-md-20">
            <th>Galia</th>
            <br />
            <input type="text" name="AdCreateGaliaInput" />
        </div>

        <div class="col-md-20">
            <th>Kėbulo numeris</th>
            <br />
            <input type="text" name="AdCreateVinInput" />
        </div>

        <div class="col-md-20">
            <th>Kaina</th>
            <br />
            <input type="number" name="AdCreateKainaInput" min="0" />
        </div>

        <div class="col-md-20">
            <th>Varantieji ratai</th>
            <br />
            <select name="AdCreateRataiInput" id="AdCreateRataiInput">
                <option value="1">Priekiniai</option>
                <option value="2">Galiniai</option>
                <option value="4">Visi</option>
            </select>
            @*<input type="number" name="AdCreateRataiInput" />*@
        </div>

        <div class="col-md-20">
            <th>Sėdimų vietų skaičius</th>
            <br />
            <input type="number" name="AdCreateVietosInput" min="0" />
        </div>

        <div class="col-md-20">
            <th>Pirmosios registracijos šalis</th>
            <br />
            <input type="text" name="AdCreateRegistracijaInput" />
        </div>

        <div class="col-md-20">
            <th>CO2 emisija</th>
            <br />
            <input type="text" name="AdCreateCo2Input" />
        </div>

        <div class="col-md-20">
            <th>Miestas</th>
            <br />
            <input type="text" name="AdCreateMiestasInput" />
        </div>

        <div class="col-md-20">
            <th>Šalis</th>
            <br />
            <input type="text" name="AdCreateSalisInput" />
        </div>

        <div class="col-md-20">
            <th>Telefono numeris</th>
            <br />
            <input type="text" name="AdCreateTelefonasInput" />
        </div>

        <div class="col-md-10">
            <br />
                <button>Patvirtinti</button>
        </div>
    </form>
</div>