@{
    ViewData["Title"] = "Sąskaitos pildymas";
}


<div class="form-group text-center">
    <form action="ProcPayment" method="POST">
        <div class="col-md-10">
            <th>Įrašykite sumą</th>
            <br />
            <input type="number" name="balanceInput" min=5 />
        </div>

        <div class="col-md-10">
            <br />


            <button>Pildyti</button>
    </form>

    </div>
</div>
<br />