@{
    ViewData["Title"] = "Skelbimai";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<a href="/Home/AdView"
   class="announcement-item">

    <div class="announcement-body">
        <div class="announcement-title">
            BMW 320, sedanas
        </div>

        <div class="announcement-pricing-info">
            <strong>
                11 499 &euro;

            </strong>
        </div>

        <div class="announcement-parameters ">
            <div class="bottom-aligner">
                <span title="Pagaminimo data">
                    2012
                </span>
                <span title="Kuro tipas">
                    Dyzelinas
                </span>
                <span title="Pavarų dėžė">
                    Automatinė
                </span>
                <span title="Rida">
                    230 000 km
                </span>
                <span title="Miestas">
                    Vilnius
                </span>
            </div>
        </div>
    </div>
</a>

