@{
    ViewData["Title"] = "Pildymo ataskaita";
}


<div class="form-group text-center">
   
        <h1>Sąskaita sėkmingai papildyta</h1>
    <h2>Papildytas kiekis: $@autominus2.Utils.OurSession.RecentPayment.Sum.ToString("N2")</h2>


        <form>
            <button formaction="/Home/Index">Grįžti</button>
        </form>

    </div>
</div>
<br />