@{
    ViewData["Title"] = "Pildymo ataskaita";
}


<div class="form-group text-center">
    <div class="col-md-10">
        <th>Papildytas kiekis:</th>
        <br />
        <input type="number" readonly="readonly" name="balanceInput" value="$10.00" />
    </div>

    <div class="col-md-10">
        <br />

        <form>
            <button formaction="/Home/Index">Grįžti</button>
        </form>

    </div>
</div>
<br />