@{
    ViewData["Title"] = "Automobiliu skelbimai";
}

<form>
    <div class="ForumQuestionview">

        <p style="background-color:lightseagreen;width:100%;height:50px">
            Forumo temos peržiūra.Temos pavadinimas
        </p>
    </div>


    <div style="background-color:lightseagreen;width:100%;height:200px">
        <p>
            Temos tekstas ---
        </p>
    </div>
    <div style="background-color:lightseagreen;width:100%;height:100px">
        <p>
            Temos komentaras
        </p>
    </div>
    <div>
        <button formaction="/Home/ForumQuestionAnswer">Rašyti komentarą</button>

        <button formaction="/Home/Forum">Grįžti į pradinį Forumo puslapį</button>
    </div>

</form>