@{
    ViewData["Title"] = "Automobiliu skelbimai";
}

<form>
    <div class="ForumArchive" style="background-color:lightseagreen;width:100%;height:50px">
        <p>
            Archyvuojami klausimai
        </p>

    </div>
    <div>
        <p style="background-color:lightseagreen;width:100%;height:50px;border:solid 2px">
            Saugomas klausimas NR.1<br><button formaction="/Home/ForumQuestion">Atidaryti temą</button>
        </p>
        <p style="background-color:lightseagreen;width:100%;height:50px;border:solid 2px">
            Saugomas klausimas NR.2<br><button formaction="/Home/ForumQuestion">Atidaryti temą</button>
        </p>
        <button formaction="/Home/Forum">Grįžti į forumą</button>
    </div>


</form>