@{
    ViewData["Title"] = "Pagalbos suteikimas";
    string question = autominus2.Utils.OurSession.helpRequestString;
    string text = String.Format("{0}", Request.Form["helpReviewTalkMsg"]);
    List<autominus2.Models.Message> messages = autominus2.Utils.UserRepo.SelectMessagesById(autominus2.Utils.OurSession.helpIndex);
    if (!string.IsNullOrEmpty(text))
    {
        if(!messages.Any(x => x.message == text))
        {
            messages.Add(new autominus2.Models.Message(autominus2.Utils.OurSession.LoggedInUser.Id, text));
            autominus2.Utils.UserRepo.InsertHelpMsg(text);
        }
    }

}


<div class="form-group text-center">
    <div class="col-md-10">
        <th>Jūsų Klausimas:</th>
        <br />
        <textarea name="helpReviewQuestion" cols="40" rows="5" readonly="readonly">@question</textarea>

    </div>

    <div class="col-md-10">
        <th>Pokalbis su moderatorium:</th>
        <br />
        <textarea name="helpReviewTalkSpace" cols="40" rows="15" readonly="readonly">
        @{ 
            foreach (var item in messages)
            {
                if(item.fk_user == autominus2.Utils.OurSession.LoggedInUser.Id)
                {
                    @($"Jūs:\n{item.message}\n")
                }
                else
                {
                    @($"Moderatorius:\n{item.message}\n")
                }
            }

        }
        </textarea>
    </div>

    <form action="HelpReview" method="POST">
        <div class="col-md-10">
            <th>Parašykite žinutę:</th>
            <br />
            <textarea name="helpReviewTalkMsg" cols="40" rows="3"></textarea>
            <br/>
            <button>Siųsti</button>
        </div>


        
    </form>

    <div class="col-md-10">
        <br />

        <form action="ProcCloseQuestion" method="POST">
            <button>Uždaryti klausimą</button>
        </form>

    </div>

</div>
<br />