@{
    ViewData["Title"] = "Pagalbos suteikimas";
    string question = autominus2.Utils.OurSession.helpRequestString;
}


<div class="form-group text-center">
    <div class="col-md-10">
        <th>Jūsų Klausimas:</th>
        <br />
        <textarea name="helpReviewQuestion" cols="40" rows="5" readonly="readonly">@question</textarea>

    </div>

    <div class="col-md-10">
        <th>Pokalbis su moderatorium:</th>
        <br />
        <textarea name="helpReviewTalkSpace" cols="40" rows="15"></textarea>
    </div>

    <form action="" method="POST">
        <div class="col-md-10">
            <th>Parašykite žinutę:</th>
            <br />
            <textarea name="helpReviewTalkMsg" cols="40" rows="3"></textarea>
            <br/>
            <button>Siųsti</button>
        </div>


        
    </form>

    <div class="col-md-10">
        <br />

        <form action="ProcCloseQuestion" method="POST">
            <button>Uždaryti klausimą</button>
        </form>

    </div>

</div>
<br />