@{
    ViewData["Title"] = "Pagalba";
}
@{ 
    if(autominus2.Utils.OurSession.helpRequestString != null)
    {
        Response.Redirect("HelpReview");
    }
}

<div class="form-group text-center">
    <form method="POST" action="ProcHelpRequest">
        <div class="col-md-10">
            <th>Jūsų klausimas</th>
            <br />
            <textarea name="helpQuestionInput" cols="40" rows="5"></textarea>
        </div>

        <div class="col-md-10">
        
        <button>Pateikti</button>
    </form>
    </div>
</div>
<div class="col-md-10">
    <br />
    <br />
    <br />
    @{
        if (autominus2.Utils.OurSession.LoggedInUser.RoleLevel == 3 || autominus2.Utils.OurSession.LoggedInUser.RoleLevel == 4)
        {
            <form>
                <button formaction="/Home/HelpEmail">Užduoti klausimai</button>
            </form>
        }
    }
    

</div>
<br />