@{
    ViewData["Title"] = "Prisijungimas";
}


<div class="form-group text-center">
    <div class="col-md-10">
        <th>E-Pašto adresas</th>
        <br />
        <input type="email" name="emailInput" />
    </div>

    <div class="col-md-10">
        <th>Slaptažodis</th>
        <br />
        <input type="password" name="passwordInput" />
    </div>

    <div class="col-md-10">
        <br />

        <form>
            <button formaction="/Home/index">Prisijungti</button>
        </form>

        <br />
        Arba
        <br/>
        <form>
            <button formaction="/Home/Register">Registruotis</button>
        </form>

    </div>
</div>
<br />