@{
    ViewData["Title"] = "Pildymo ataskaita";
    //string text = "Klaida";
    //if (!string.IsNullOrEmpty(Request.QueryString["PayerID"]))
    //{
    //    text = Request.QueryString["PayerID"];
    //}
}


<div class="form-group text-center">
   
        <h1>Sąskaita sėkmingai papildyta</h1>
    <h2>KLAIDA</h2>


        <form>
            <button formaction="/Home/Index">Grįžti</button>
        </form>

    </div>
</div>
<br />