@{
    ViewData["Title"] = "Registracija";
    autominus2.Utils.OurSession.InRegistration = true;
}


<div class="form-group text-center">
    <form method="POST" action="Login">

        <div class="col-md-10">
            <th>E-Pašto adresas</th>
            <br />
            <input type="email" name="registerEmailInput" />
        </div> 

        <div class="col-md-10">
            <th>Vardas</th>
            <br />
            <input type="text" name="registerNameInput" />
        </div>

        <div class="col-md-10">
            <th>Slaptažodis</th>
            <br />
            <input type="password" name="registerPasswordInput" />
        </div>

        <div class="col-md-10">
            <th>Slaptažodžio patvirtinimas</th>
            <br />
            <input type="password" name="registerPasswordConfirmInput" />
        </div>



        <div class="col-md-10">
            <br />

            <form>
                <button>Registruotis</button>
            </form>

        </div>

    </form>

</div>
<br />