@{
    ViewData["Title"] = "Vartotojo šalinimas";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    Ar tikrai norite šalinti šį vartotoją?
    <div class="col-md-10">
        <br />
        Vartotojo vardas: XXXXX <br />
        ID: vartotojo_id <br />
        El. paštas: vartotojo_e_pastas <br />
        <br />
        <form>
            <button formaction="/Home/VartotojuSarasoLangas">Šalinti</button>
            <button formaction="/Home/VartotojuSarasoLangas">Atgal į sąrašą</button>
        </form>
    </div>
</div>
<br />